
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "lewagon.png"%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <%= link_to "All products", products_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
          <div class="dropdown">
            <% if current_user.avatar? %>
            <%=  cl_image_tag current_user.avatar.path, height: 60, width: 60, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", :'data-toggle' => 'dropdown' %>
            <% else %>
              <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Dashboard</a></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        </div>

    <%= link_to "Add a product", new_product_path, class: "btn-medium"%>
    <% else %>
    <%= link_to "Connexion", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Subscription", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <% end %>
  </div>
</div>
